{% load static i18n %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
        Open Child Care Referral Platform
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Open Child Care Referral Platform" />
    <meta name="author" content="Ryan Koch" />
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
    {% block css %}
      <!-- Latest compiled and minified Bootstrap CSS -->
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
            integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
      <!-- Your stuff: Third-party CSS libraries go here -->
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css"
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
      <!-- Compass fonts (used by the top bar and provider search) -->
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&family=Source+Serif+4:opsz,wght@8..60,400;8..60,500;8..60,600;8..60,700&display=swap"
            rel="stylesheet" />
      <!-- This file stores project-specific CSS -->
      <link href="{% static 'css/project.css' %}" rel="stylesheet" />
      <link href="{% static 'css/compass_header.css' %}" rel="stylesheet" />
    {% endblock css %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Bootstrap JS -->
      <script defer
              src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
              integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer"></script>
      <!-- Your stuff: Third-party javascript libraries go here -->
      <!-- place project specific Javascript in this file -->
      <script defer src="{% static 'js/project.js' %}"></script>
    {% endblock javascript %}
  </head>
  <body class="{% block bodyclass %}{% endblock bodyclass %}">
    {% block body %}
      <div class="mb-1">
        <nav class="navbar navbar-expand-md navbar-light compass-topbar">
          <div class="container-fluid">
            <a class="navbar-brand compass-brand" href="{% url 'home' %}">
              <span class="compass-logo"><span class="compass-logo__dot"></span></span>
              <span class="compass-brand__name">Open Child Care Referral</span>
              {% if is_coordinator %}
                <span class="compass-rolebadge">Coordinator</span>
              {% elif is_family %}
                <span class="compass-rolebadge">Family</span>
              {% endif %}
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                {% url 'home' as url_home %}
                <li class="nav-item">
                  <a class="nav-link compass-navlink {% if request.path == url_home %}is-active{% endif %}"
                     href="{{ url_home }}">Home</a>
                </li>
                {% url 'about' as url_about %}
                <li class="nav-item">
                  <a class="nav-link compass-navlink {% if request.path == url_about %}is-active{% endif %}"
                     href="{{ url_about }}">About</a>
                </li>
                {% if not is_family %}
                  {% url 'providers:list' as url_providers %}
                  <li class="nav-item">
                    <a class="nav-link compass-navlink {% if request.path == url_providers %}is-active{% endif %}"
                       href="{{ url_providers }}">Providers</a>
                  </li>
                {% endif %}
                {% if is_coordinator %}
                  {% url 'referrals:queue' as url_queue %}
                  <li class="nav-item">
                    <a class="nav-link compass-navlink {% if request.path == url_queue %}is-active{% endif %}"
                       href="{{ url_queue }}">Referral queue</a>
                  </li>
                {% endif %}
                {% if is_family %}
                  {% url 'referrals:family_search' as url_family_search %}
                  <li class="nav-item">
                    <a class="nav-link compass-navlink {% if request.path == url_family_search %}is-active{% endif %}"
                       href="{{ url_family_search }}">Find providers</a>
                  </li>
                  {% url 'referrals:my_referrals' as url_my_referrals %}
                  <li class="nav-item">
                    <a class="nav-link compass-navlink {% if request.path == url_my_referrals %}is-active{% endif %}"
                       href="{{ url_my_referrals }}">
                      My providers
                      {% if unread_message_count %}
                        <span class="compass-badge">{{ unread_message_count }}</span>
                      {% endif %}
                    </a>
                  </li>
                {% endif %}
              </ul>
              <ul class="navbar-nav ms-auto align-items-md-center">
                {% if request.user.is_authenticated %}
                  <li class="nav-item">
                    <a class="compass-avatar"
                       href="{% url 'users:detail' request.user.pk %}"
                       title="{% translate 'My Profile' %}"
                       aria-label="{% translate 'My Profile' %}">{{ request.user.name|default:request.user.email|first|upper }}</a>
                  </li>
                  <li class="nav-item">
                    {# URL provided by django-allauth/account/urls.py #}
                    <a class="nav-link compass-navlink" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
                  </li>
                {% else %}
                  {% if ACCOUNT_ALLOW_REGISTRATION %}
                    <li class="nav-item">
                      {# URL provided by django-allauth/account/urls.py #}
                      <a id="sign-up-link"
                         class="nav-link compass-navlink"
                         href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
                    </li>
                  {% endif %}
                  <li class="nav-item">
                    {# URL provided by django-allauth/account/urls.py #}
                    <a id="log-in-link"
                       class="nav-link compass-navlink"
                       href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="container">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
              {{ message }}
              <button type="button"
                      class="btn-close"
                      data-bs-dismiss="alert"
                      aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
        {% block main %}
          {% block content %}
            <p>Use this document as a way to quick start any new project.</p>
          {% endblock content %}
        {% endblock main %}
      </div>
    {% endblock body %}
    <!-- /container -->
    {% block modal %}
    {% endblock modal %}
    {% block inline_javascript %}
      {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        /* Run whatever you want */
      });
    </script>
      {% endcomment %}
    {% endblock inline_javascript %}
  </body>
</html>
